li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  padding: 10px;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  margin-left: 10px;
  align-items: stretch;
  width: 100%;
  margin-top: 0;
}
li.dev-item header .user-options {
  margin-left: 0px;
  margin-top: 0;
  font-size: 30px;
  margin-right: 0;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}
li.dev-item a {
  color: #8e4dff;
  font-size: 14px;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #5a23a6;
}

li.dev-item button {
  color: #8e4dff;
  font-size: 22px;
  text-decoration: none;
  border: none;
  width: 100%;
  margin-right: 0;
  text-align: right;
}

li.dev-item button:hover {
  color: #5a23a6;
}
header-item {
  flex: 1;
  flex-direction: row;
  width: 100%;
}


.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}
